.square {
	position: absolute;
    border: solid gray 1px;
    font-family: sans-serif;
    overflow: hidden;
    font-size: 10pt;
}

/*
.top span, .bottom span {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
}
*/
